[Unit]
Description=WSL Clash Proxy Watcher
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/proxy-watcher
Restart=always
RestartSec=5
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=default.target